/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');

.search-form {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 28px;
  margin-bottom: 32px;
}

.search-input {
  width: 256px;
  height: 36.4px;
  border: 1px solid #808080;
  border-radius: 4px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
  padding-left: 16px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.search-input:hover {
  border-color: #000;
}

.search-input:focus {
  border-color: #4e75ff;
}

.search-btn {
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background-color: #4e75ff;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.search-btn:hover {
  background-color: #6c8cff;
}

.loader {
  font-size: 48px;
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  position: relative;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.loader:before {
  content: '';
  animation: 300ms print linear alternate infinite;
}

.loader:after {
  content: '';
  position: absolute;
  right: -4px;
  top: 50%;
  transform: translatey(-45%);
  width: 2px;
  height: 1.3em;
  background: currentColor;
  opacity: 0.8;
  animation: 1s blink steps(2) infinite;
}

@keyframes blink {
  0% {
    visibility: hidden;
  }

  100% {
    visibility: visible;
  }
}

@keyframes print {
  0% {
    content: 'L'
  }

  10% {
    content: 'Lo'
  }

  20% {
    content: 'Loa'
  }

  30% {
    content: 'Load'
  }

  40% {
    content: 'Loadi'
  }

  50% {
    content: 'Loadin'
  }

  60% {
    content: 'Loading'
  }

  70% {
    content: 'Loading.'
  }

  80% {
    content: 'Loading..'
  }

  90%,
  100% {
    content: 'Loading...'
  }
}

.gallery-list {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, calc((100% - 48px) / 3));
  gap: 24px;
  margin: 0px 156px 32px;
}

.gallery-item {
  height: 348px;
  border: 1px solid #808080;
}

.gallery-link {
  display: block;
}

.info-list {
  display: flex;
  justify-content: space-evenly;
}

.info-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.info-value {
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
  text-align: center;
}

.load-more-btn {
  display: block;
  margin: 0 auto;;
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  width: 125px;
  height: 40px;
  background-color: #4e75ff;

  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #fff;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.load-more-btn:hover {
  background-color: #6c8cff;
}

.hidden {
  display: none;
}